@import 'variables';

input {
    background-color: white;
}

.tapao {
    opacity: 0.3;
}

.loginForm form {
    background-color: white;
    display: grid;
    position: fixed; /* Cambiar de "absolute" a "fixed" para que el formulario quede fijo */
    grid-template-rows: 170px 1fr 1fr;
    width: 316px;
    height: 444px;
    top: 0; 
    left:0;
    bottom:0;
    right:0;

    opacity:1!important;
    margin: auto; 
    padding: 10px;
    border-radius: 5px;
    z-index: 100000;

    h1 {
        display:grid;
        place-items: center;
        grid-row: 1 / 2;
    }

    .classicButton {
        font-size: 2rem;    
        width: 280px;  
        margin:0px;
        margin-top: 5px;
        margin-bottom:5px;
        height:81px;
        background: linear-gradient(to right,white 30%, #1E2022) ;
        color: black;
        font-weight:bold ;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }


    
}

.xLogin {
    position:absolute;
    top:0;
    right:0;
    z-index:99999;
    font-size:2rem;
    margin-right:12px;
    cursor:pointer;

    
}

.xLogin:hover {
    transform:scale(1.2)
}

.inputsLogin {
    display: grid;
    grid-row: 2 / 3;
    margin-top:20px;
}

.formInput {
    background-color: white;
    height:44px;
    border:3px solid $main-color;
}

.bigLogo img{
    width:264px;
    margin-left:3px;
}

.bigLogo {
    margin-bottom:5px;
}

.register {
    form {
        height:541px;
    }
}

.register .bigLogo img {
    width:236px;
    margin-left:20px;
}

.entryButton{
    margin-top:34px;
    background-size: cover;
    border:none;
    height: 70px;
    width:100%;
    cursor:pointer; 

    img {
        max-width:295px;
    }
}

.entryButtonChange{
    margin-top:34px;
    background-image: url('images/cambiarimg.png');
    background-size: cover;
    border:none;
    height: 65px;
    width:291;
    cursor:pointer; 
}



.entryButtonChange:hover, .entryButton:hover {
    transform: scale(1.01);
}   

.loadingImage {
    width: 65px;
    height:50px;
    margin:0 auto;
    img {
        height:60px;
        margin:0 auto;
    }
}

.changePassInput {
    margin:0 auto;
}

.googleLink {
    border: 3px solid transparent;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    background-image: linear-gradient(to right, #4285F4, #FBBC05, #34A853);
    p {
        font-family: monospace;
        background-color: white;
    }
}

.pointer {
    cursor:pointer;
}