@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand, monospace;
}

main {
    background-color: $main-color;
    height: calc(100vh - 130px);
    overflow:auto;
}

header {
    position: relative;
    display:grid;
    grid-template-columns: 100px 1fr 100px;
    height: 60px;

    gap: 5px;

    img {
        height: 100%;
    }
    
}

footer {

    display:grid;
    position: fixed;
    bottom:0;
    place-items:center;
    background: black;
    height:60px;
    width:100%;
    margin-top:10px;

    p {
        display: flex;
        justify-content: center;
        text-align: center;
        color:white;
        margin: auto auto;
    
    }

    img {
        height: 100%;
    }
}



.divLogo {
    display: inline-block;
    grid-column: 1 / 2;
    height:42px;
    margin:auto auto;
    margin-left: 15px;

}

.burguermenu {
    display:inline-block;
    cursor:pointer;
    grid-column: 3 / 4;
    margin: auto auto;

    span {
        color:white;
        background-color: transparent;
    }
}

.burguerOpen {

    position:absolute;
    top: 39px;
    right: 65px;
    width:93px;
    height: auto;
    z-index: 10000;
    background-color: white;
    overflow:hidden;
    border:1px solid black;

    nav {

        a{
            margin-top: 3px;
            display: inline-block;
        
        }

        .navLink {
            padding:3px;
            margin: 0 10px;

            :hover {
                transform: scale(1.2);
                transition: transform .1s;
                border-radius: 5px;
                background-color: red;
            }
        }
    }

}

.navLink {
    display: block;
    margin: 4px 0;
    font-weight: bold;
    color:black;
    text-decoration: none;

}


nav {
    .navLink {
        padding:3px;
        margin: 0 10px;

        :hover {
            transform: scale(1.2);
            transition: transform .1s;
            border-radius: 5px;
            background-color: red;
        }
    }


}

nav .navLink:hover {
    transform: scale(1.2);
    transition: transform .1s;
    border-radius: 5px;
}

.bigMenu {
    display:none;
    grid-column: 2 / 4;
    margin: auto auto;
    background-color: transparent;

    .navLink {
        background-color: white;
    }
}

.displayNone {
    display:none;
}

@media screen and (min-width: 792px) {
    .burguermenu {
        display:none;
    }

    .bigMenu {
        display:inline-flex;
        flex-direction: row;
        grid-column: 2 / 3;
        width: 100%
    }

    .burguerOpen {
        display:none;
    }

    nav {
        display: flex;
        margin: 0 auto;
        background-color: transparent;
    }

    .navLink {
        margin:0 5px;
        display:inline-block;
        padding:0 2px;
    }
}