* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(118, 53, 168);
}

header, footer {
    display:flex;
    height: 100px;
    background-color: var(--main-color);
    
}

img {
    height: 100%;
}

.divLogo {
    display: inline-block;
    height:70px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin:auto 0 auto 30px;
}

.divLogo:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}